@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Stick No Bills', sans-serif;
    background-color: rgb(255, 255, 255);
}

// navigation
.hvr-bounce-to-top:before{
  background-color: rgb(126, 213, 235);
  border-radius: 5px;
}
.navbar.navbar-expand-sm.bg-dark.navbar-dark {
  background-color: rgb(127, 187, 255) !important;
  .navbar-brand {
    background-color: rgb(127, 187, 255);
    &:hover {}
  }
  .navbar-toggler {
    color: white;
    border: solid rgba(203, 229, 236, 0.548);
    .navbar-toggler-icon {
      color: white;
    }
    &:focus {
      border: none;
      outline-color: white;
    }
  }
  #collapsibleNavbar.collapse.navbar-collapse.justify-content-end {
    .navbar-nav {
      .nav-item {
      }
      .nav-link {
        color: white;
        text-align: center;
        border-radius: 5px;
        &:hover {
          // background-color: rgb(126, 213, 235);
        }
        &:active {
          // background-color: rgb(126, 213, 235);
        }
        &:focus {
          // background-color: rgb(126, 213, 235);
        }
      }
    }
  }
}
.head {
    background-image: url(https://th.bing.com/th/id/R.4c487cd249cf0f99ef345b97e92fcffe?rik=M5D7FM63corRoA&pid=ImgRaw&r=0);
    background-size: cover;
    border-bottom: 3px solid gray;
    background-position: center;
    height: 100vh;
    width: 100%;
}

// about
.row.mt-2 {
  #about.row.about {
    align-items: stretch;
      .col-12.col-lg-6 {
        .parent {

        }
        .user {
          background-color: #eee;
          width: 50px;
          margin-right: 20px;
          padding: 10px;
          height: 55.5px;
          font-size: 30px;
          text-align: center;
          
          @media (min-width: 992px) {
            border-radius: 8px 8px 0 0;
          }
        }
        .one {
          background-color: #eee;
          line-height: 1.9;
          position: relative;
          &::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 100%;
              right: -10px;
              top: 0;
              background-color: #009688;
             
          }
          &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -20px;
              width: 0;
              height: 0;
              background-color: white;
              margin-top: -10px;
              border-style: solid;
              border-width: 10px;
              border-color: transparent #009688 transparent transparent;
              @media (max-width: 576px) {
                display: none;
              }
              @media (min-width: 992px) {
                display: none;
              }
          }
        }
      }
      .imm{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
        -webkit-box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
      }
  }
  .row.justify-content-center{
      .learn {
        width: 200px;
        height: 50px;
        background-color: #009688;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
        &:hover {
          background-color: rgb(26, 25, 25);
          color: white;
          -webkit-box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
          -moz-box-shadow: 7px 7px 42px -1px rgba(0, 0, 0, 0.57);
        }
      }
  }
}

// services
#services.head2 {
        position: relative;
        margin: 0 auto;
        padding: 0 0;
        background: #202020 url(https://th.bing.com/th/id/R.a6f33afeb50f8aa3553acfab90e9c0d9?rik=jO24fny8ZPwjeQ&pid=ImgRaw&r=0) center center no-repeat;
        background-size: cover;
        border-bottom: 1px solid orangered;
        border-top: 1px solid orangered;
        flex-wrap: nowrap;
    .service1 {
        height: 250px;
        text-align: center;
        color: white;
        font-size: 25px;
        .my-auto{
          cursor: pointer;
        }
        &:hover {
            color: #009688;
        }
        svg{
          font-size: 50px;
        }
    }
}

// footer
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font: bold 16px sans-serif;
    .footer-left {
        
      h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        span {
            color: #5383d3;
            cursor: pointer;
        }
      }
      .footer-links {
        color: #ffffff;

        a {
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            &:hover{
              background-color: cadetblue;
            }
        }
      }
      .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
      }
    }
    .footer-center {
      div {
        align-items: center;
        margin-bottom: 15px;
        svg {
            cursor: pointer;
            color: #2ab8d1;
            font-size: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px; 
        }
        p {
            color: #ffffff;
           margin-bottom: 0;
            span {  
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }
            a {
                color: #5383d3;
                text-decoration: none;
                ;
            }
        }
      }
    }
    .footer-right {
        
      .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
    
        span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            
        }
      }
      .footer-icons {
        a {
          cursor: pointer;
          background-color: #33383b;
          border-radius: 2px;
          font-size: 20px;
          color: #ffffff;
          text-align: center;
          line-height: 35px;
          padding: 5px;
        }
      }
    }
  }
  .hvr-buzz {
    vertical-align: 0;
  }